config EXYNOS_CPUFREQ
	bool "SAMSUNG EXYNOS 4210/4X12 CPU Frequency driver"
	default y
	help
	 EXYNOS4 CPU Frequency driver.

if EXYNOS_CPUFREQ

config EXYNOS4210_CPUFREQ
	bool "Exynos 4210 cpufreq support"
	depends on CPU_EXYNOS4210
	help
	  Exynos4210 cpufreq support

config EXYNOS4X12_CPUFREQ
	bool "Exynos 4212/4412 cpufreq support"
	depends on CPU_EXYNOS4212
	help
	  Exynos4412/4212 cpufreq support

choice 
	prompt "EXYNOS4210 Max CPU Frequency"
	depends on EXYNOS4210_CPUFREQ
	default EXYNOS4210_1400MHZ_SUPPORT

config EXYNOS4210_1400MHZ_SUPPORT
	bool "Max 1400MHz CPUFREQ LEVEL"

config EXYNOS4210_1200MHZ_SUPPORT
        bool "Max 1200MHz CPUFREQ LEVEL"

endchoice

choice
	prompt "EXYNOS4212 Max CPU frequency"
	depends on EXYNOS4X12_CPUFREQ
	default EXYNOS4212_1500MHZ_SUPPORT

config EXYNOS4212_1500MHZ_SUPPORT
	bool "Max 1500MHz CPUFREQ LEVEL"
	help
	  Max 1.5Ghz support

config EXYNOS4212_1400MHZ_SUPPORT
	bool "Max 1400MHz CPUFREQ LEVEL"
	help
	  Max 1.4Ghz support

endchoice

choice
	prompt "EXYNOS4412 Max CPU frequency"
	depends on EXYNOS4X12_CPUFREQ
	default EXYNOS4412_1400MHZ_SUPPORT

config EXYNOS4412_1500MHZ_SUPPORT
	bool "Max 1500MHz CPUFREQ LEVEL"
	depends on !CPU_EXYNOS4412
	help
	  Max 1.5Ghz support

config EXYNOS4412_1400MHZ_SUPPORT
	bool "Max 1400MHz CPUFREQ LEVEL"
	help
	  Max 1.4Ghz support

config EXYNOS4412_1200MHZ_SUPPORT
	bool "Max 1200MHz CPUFREQ LEVEL"
	help
	  Max 1.2Ghz support
endchoice

endif
